* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color : #000000;
}

#banniere {
    width: 100%;
    height: 50px;
    background-color: #d21111;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    align-items: center;

}

#connect {
    background-color: white;
    color: #000000;
    border-radius: 3px;
    width: 125px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sign {
    background-color: white;
    color: black;
    border-radius: 3px;
    width: 125px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu {
    background-color: #ffffff;
    color: black;
    border-radius: 3px;
    width: 125px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#accueil {
    background-color: #ffffff;
    color: black;
    border-radius: 3px;
    width: 125px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
    font-size: 70px;
    font-style: italic;
    font-family: "Ink Free";
}

#title {
    color: red;
    font-size: 70px;
    font-style: italic;
    font-family: "Ink Free";
}

h2 {
    color: gold;
    text-align: center;
}

#div-titre {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-one {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    word-wrap: break-word;
    margin: auto;
}

.part1 {
    background: linear-gradient(black, red);
    border: 3px solid #b70505;
    border-radius: 10px;
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titre {
    color: #d21111;
    font-size: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.titre2 {
    color: #d21111;
    font-size: 30px;
    width: 100%;
    height: 100px;

}

p {
    color: gold;
}

#etat {
    color: dodgerblue;
}

#click_div {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.div_button {
    width: 45%;
    height: 45%;
    border: 2px solid red;
    background-color: #000000a3;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    word-wrap: break-word;
}

#div_info {
    width: 100%;
    height: 90%;
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-size: 30px;
}

.eby {
    color: dodgerblue;
    font-style: italic;
    font-size: 30px;
}

h3 {
    color: gold;
}

.div_dev {
    width: 100%;
    height: 90%;
    color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;

}
.part3 {
    border: 3px solid gold;
    border-radius: 10px;
    width: 30%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

.container2 {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/assets/img/ombre1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.large {
    background: linear-gradient(black, red);
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.envoi {
    background-color: black;
    color: red;
}

.formulaire {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    color: black;
    font-size: 32px;
}

input {
    width: 80%;
    height: 10%;
}

.form2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#child {
    display: none;
    background-color: orange;
    min-width: 50px;
}
#child div {
    color: red;
    padding: 20px;
    text-decoration: none;
    display: block;
}
#child:hover div {
    display: block;
}

#dev {
    width: 20%;
    word-wrap: break-word;
}

#info {
    width: 20%;
    word-wrap: break-word;
}

