* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color : #000000;

}

#banniere {
    width: 100%;
    height: 50px;
    background-color: #d21111;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#listeBanniere {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
li {
    width: 6%;
    padding: 10px 10px;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;

}

li:hover {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: red;
    font-family: "Ink Free";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

a:hover {
    color: black;
}



#containerUser {
    border: 3px solid #b70505;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

#banniereUser {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgUser {
    width: 150px;
    height: 150px;
    background-image: url("../img/150x150.png");
}
#fondInfo {
    background: linear-gradient(black, red);
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoUser2 {
    margin-left: 25px;
    width: 70%;
}

h1{
    color: red;
    font-size: 3.5rem;
    font-style: italic;
    font-family: "Ink Free";
    font-weight: bold;
}

#title {
    color: red;
    font-size: 4.5rem;
    font-style: italic;
    font-family: "Ink Free";
    font-weight: bold;
}


#div-title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-one {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    word-wrap: break-word;
    margin-top: 50px;
}

.part {
    background: linear-gradient(black, red);
    border: 3px solid #b70505;
    border-radius: 10px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#zone1 {
    width: 60%;
}

#zone2 {
    width: 20%;
}

#article {
    width: 95%;
}

.title {
    color: #d21111;
    font-size: 3rem;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d21111;
    border-radius: 10px;
}
.title2 {
    color: #d21111;
    font-size: 3rem;
    width: 100%;
    height: 100px;
}

p {
    color: gold;
    font-size: 1.4rem;
    text-align: left;
    border-bottom: 1px solid #5b4f4f;
}

#clickListe {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.listMenu {
    width: 40%;
    height: 40%;
    border : 1px solid red;
}

.listMenu:hover {
    background-image: url("../img/sang1.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

.listMenu  a {
    list-style-type: none;
    font-size: 35px;
    font-family: "Ink Free";
    font-style: italic;
    font-weight: bold;
}



.div_button {
    width: 35%;
    height: 45%;
    border: 2px solid red;
    background-color: #000000a3;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    word-wrap: break-word;
    font-family: "Ink Free";
    font-style: italic;
    font-weight: bold;
}

#div_info {
    width: 100%;
    height: 90%;
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-size: 2rem;
}

.eby {
    color: dodgerblue;
    font-style: italic;
    font-size: 2rem;
}

h3 {
    color: #ff0000;
    font-size: 2.5rem;
}

.div_dev {
    width: 100%;
    height: 90%;
    color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;

}
.part3 {
    border: 3px solid gold;
    border-radius: 10px;
    width: 30%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

.container {
    width: 100%;
    height: 925px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.containerInscript {
    justify-content: flex-end;
    background-image: url("../img/ombre1.jpg");
    background-position: bottom;
}

.containerConnect {
    justify-content: flex-start;
    margin-right: 50px;
    background-image: url("../img/sombre1.png");
}

.containerMenu {
    justify-content: center;
    align-items: center;
    background-image: url("../img/menu1.jpg");
}

.large {
    background: linear-gradient(black, red);
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
}

.envoi {
    background-color: black;
    color: red;
    font-size: 2.5rem;
    font-style: italic;
    font-family: "Ink Free";
}

.formulaire {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    color: black;
    font-size: 3.2rem;
}

input {
    width: 80%;
    height: 10%;
}

input:hover {
    background-color: gold;
    color: black
}

.form2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#child {
    display: none;
    background-color: orange;
    min-width: 50px;
}
#child div {
    color: red;
    padding: 20px;
    text-decoration: none;
    display: block;
}
#child:hover div {
    display: block;
}

#dev {
    width: 100%;
    word-wrap: break-word;
}

#articleR {
    width: 85%;
}

h6 {
    font-weight: bold;
    font-style: italic;
    font-family: "Ink Free";
}

#blockArt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerArt {
    width: 60%;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    margin-left: 30px;
    float: left;
    padding-top: -15px;
    margin-bottom: 15px;
}

.artTitle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkred;
}
h4 {
    font-family: "Ink Free";
}

#containerVideo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #ff0000;
    font-family: "Ink Free";
    text-align: center;
    font-size: 3.5rem;
}

#creatVideo {
    width: 75%;
    height: 60px;
    border-radius: 10px;
    background-color: #b70505;
    color: black;
    font-size: 35px;
}

#containerCreatVideo {
    flex-direction: column;
    color: #b70505;
    background-color: grey;
    width: 70%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: none;
}

#enter1 {
    width: 120px;
    height: 50px;
    color: #b70505;
    background-color: black;
    font-family: "Ink Free";
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}